body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reset {
    height: 50px;
    width: 200px;
    margin: 10px;
}

.container {
    border: 3px solid #000;
    height: 1000px;
    width: 1000px;

    display: flex;
    flex-wrap: wrap;
}

.cell{
    outline-style: solid;
    outline-width: 0.1px;
	flex-grow: 0;
	flex-shrink: 0;
}